<?xml version="1.0" encoding="UTF-8"?>

<plist version="1.0">
<dict>

<key>Label</key>
<string>com.timeguard.shutdown</string>

<key>ProgramArguments</key>
<array>
<string>/Library/TimeGuard/timeguard.sh</string>
</array>

<key>RunAtLoad</key>
<true/>

<key>KeepAlive</key>
<true/>

</dict>
</plist>
